<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862967813012-4t1nrfl5v0q96l641m9if9nufh5k6q1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862967813012-4t1nrfl5v0q96l641m9if9nufh5k6q1i</string>
	<key>API_KEY</key>
	<string>AIzaSyB6pdbw6j2sgWOq4W5lqggeew1IIPRQ-s4</string>
	<key>GCM_SENDER_ID</key>
	<string>862967813012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ad95.jellyfish</string>
	<key>PROJECT_ID</key>
	<string>jellyfish-2e8db</string>
	<key>STORAGE_BUCKET</key>
	<string>jellyfish-2e8db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862967813012:ios:57af87b36cd8c9e9603581</string>
	<key>DATABASE_URL</key>
	<string>https://jellyfish-2e8db.firebaseio.com</string>
</dict>
</plist>